@import 'tailwindcss';

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #d2122e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;

  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#donate-button-container {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  justify-content: center;
}
